html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

select {
  width: 75.7%;
  text-align-last: center;
}

input {
  width: 50%;
}

.input-group {
  width: 62%;
}

.row {
  margin: 20px 0;
}

#subgroup-details {
  display: none;
}

#participant-code, #search-pcode {
  height: 30px;
}

#search-pcode {
  padding-top: 4px;
}
