html {
  box-sizing: border-box;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

select {
  width: 75.7%;
  text-align-last: center;
}

input {
  width: 50%;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.navbar {
  background-color: #488130;
  color: #FFFFFF;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
}
.navbar-brand {
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.modal-header {
  background-color: #488130;
  color: #fff;
  font-family: 'Lobster', cursive;
}

.modal-header .close {
  color: #fff;
}

.input-group {
  width: 50%;
}

.row {
  margin: 20px 0;
}

#activity-details, #subgroup-details {
  display: none;
}

#participant-code {
  height: 30px;
  padding: 1px 0;
}

#search-pcode {
  height: 30px;
  padding: 4px 8px;
}
